<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="casalum_banners_slider_banners_listing_data_source" xsi:type="string">CasaLum\BannerSlider\Model\ResourceModel\Banner\Grid\Collection</item>
                <!--<item name="cms_block_listing_data_source" xsi:type="string">CasaLum\BannerSlider\Model\ResourceModel\Slider\Grid\Collection</item>-->
            </argument>
        </arguments>
    </type>

    <type name="CasaLum\BannerSlider\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">casalum_bannerslider_banner</argument>
            <argument name="eventPrefix" xsi:type="string">casalum_bannerslider_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">CasaLum\BannerSlider\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>
    <!--<virtualType name="CasaLum\BannerSlider\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">casalum_bannerslider_banner</argument>
            <argument name="resourceModel" xsi:type="string">CasaLum\BannerSlider\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>-->
</config>