<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="casalum_banners_slider_banners_listing_data_source" xsi:type="string">CasaLum\BannerSlider\Model\ResourceModel\Banner\Grid\Collection</item>
                <!--<item name="cms_block_listing_data_source" xsi:type="string">CasaLum\BannerSlider\Model\ResourceModel\Slider\Grid\Collection</item>-->
            </argument>
        </arguments>
    </type>

    <type name="CasaLum\BannerSlider\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">casalum_bannerslider_banner</argument>
            <argument name="eventPrefix" xsi:type="string">casalum_bannerslider_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">CasaLum\BannerSlider\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>
    <!--<virtualType name="CasaLum\BannerSlider\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">casalum_bannerslider_banner</argument>
            <argument name="resourceModel" xsi:type="string">CasaLum\BannerSlider\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>-->

    <virtualType name="CasaLum\BannerSlider\ImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">casalum/tmp/banners_slider</argument>
            <argument name="basePath" xsi:type="string">casalum/banners_slider</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="CasaLum\BannerSlider\Controller\Adminhtml\Banner\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">CasaLum\BannerSlider\ImageUpload</argument>
        </arguments>
    </type>
</config>