<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('progressBar') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('estimation') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="opc-wrapper">
    <ol class="opc main" id="checkoutSteps">
        <!-- ko foreach: getRegion('steps') -->
            <!-- ko foreach: getRegion('shipping-step') -->
                <!-- ko foreach: getRegion('shipping-address') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            <!--/ko-->
        <!--/ko-->
        <div class="opc section2">
            <!-- ko foreach: getRegion('steps') -->
                <!-- ko foreach: getRegion('shipping-step') -->
                    <!-- ko foreach: getRegion('shipping-method') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                <!--/ko-->
            <!--/ko-->

            <!-- ko foreach: getRegion('steps') -->
                <!-- ko foreach: getRegion('billing-step') -->
                    <!-- ko foreach: getRegion('payment') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                <!--/ko-->
            <!--/ko-->
        </div>
    </ol>


    <!--SIDEBAR-->
    <div id="opc-sidebar-desktop"
        class="opc-sidebar-desktop">
        <!-- ko foreach: getRegion('sidebar') -->
            <!-- ko foreach: getRegion('summary') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        <!--/ko-->
        <div class="place-order-checkout-summary">
                
            <!-- ko foreach: getRegion('discount') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            
        
            <!-- ko foreach: getRegion('ost-terms-and-conditions') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
                
            <div class="button-set clearfix button-opcheckout">
                <div class="clear"></div>
                <button id="opcheckout-button-place-order" type="button"
                        class="btn-proceed-checkout opcheckout-btn-checkout opcheckout-place action primary"
                        data-bind="attr:{title:$t('Place Order')},click:prepareToPlaceOrder,enable:enableCheckout">
                    <span>
                        <span class="title" data-bind="i18n:'Place order now'"></span>
                    </span>
                </button>
                <button style="display: none"
                        id="opcheckout-button-continue-to-paypal" type="button"
                        class="btn-continue-to-paypal action primary" 
                        data-bind="attr:{title:$t('Place Order')}">
                    <span>
                        <span class="title" data-bind="i18n:'Continue to PayPal'"></span>
                    </span>
                </button>
            </div>
            <!--ko if:placingOrder-->
            <div id="opcheckout-place-order-loading" class="show">
                <p data-bind="i18n:'Please wait, processing your order...'"></p>
            </div>
            <!--/ko-->
            <div id="opcheckout-error-messages" class="show" data-bind="fadeVisible:errorMessage">
                <p data-bind="i18n:errorMessage"></p>
            </div>
        </div>
        <div class="opc-block-shipping-information">
            <!-- ko foreach: getRegion('sidebar') -->
                <!-- ko foreach: getRegion('shipping-information') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            <!--/ko-->
        </div>
    </div>
</div>

<!-- ko foreach: getRegion('sidebar') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
