//
//  Common
//  _____________________________________________

    .header-block-container span {
        float: right;
        margin-right: 2.5em;
    }

  //
  //  Desktop
  //  _____________________________________________
  
  .media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
 
  }
  
  //
  //  Mobile
  //  _____________________________________________
  
  .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
      .panel.wrapper{

        display: flex;
        justify-content: flex-end;
        width: 100%;

        .header-after {
            padding-bottom: 10px;
            padding-top: 10px;

            .header-block-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                span {
                    margin-right: 0px;
                }
            }
        }
      }  
  }